@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background: linear-gradient(130deg, #BEDEF5, #7292A8);
    margin-bottom: 50px;
}

.container{
    background-color: white;
    width: 500px;
    height: auto;
    padding: 25px;
    margin: 50px auto 0;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.183);
}
.container h2{
    background-color: #a2b5de36;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 20px auto;
}
label{
    padding: 10px;
}

.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.butoes{
    display: flex;
    align-items: center;
}
.button{
    background-color: #7292a8b7;
    padding: 5px;
    margin: 9px;
}

